@media (max-width: 768px) {
    .nav-icon {
        display: none !important;
    }
}

body {
    margin-top: 90px;

    .bodyCountainer {
        padding-left: 300px;
        padding-right: 300px;
    }

    .size-icon-googleplay {
        width: 160px;
        margin-left: 15px;
    }

    .size-icon-account {
        width: 35px;
        margin-right: 5px;
    }

    .dropdown-help {
        border-radius: 15px;
        width: 350px;
        height: 650px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    #searchBox {
        display: none;
    }

    .hideable {
        display: block;
    }

    .searchBoxSize {
        width: 700px;
        height: 50px;
        margin-right: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .searchIconSize {
        width: 50%;
    }

    .iconsButtonSize {
        width: 15px;
        margin-bottom: 4px;
        margin-right: 5px;

    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        width: 100%;
        text-align: center;
        border-bottom: solid 1px rgba(150, 150, 155, 0.575);
        padding-bottom: 5px;
    }

    .overlay .closebtn {
        position: absolute;
    }

    .overlay input {
        margin: auto;
        display: block;
        width: 80%;
        border: none;
        padding-top: 10px;
        margin-left: 50px;

    }

    .fixed-top {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        // z-index: 1030;
    }

    .card {
        background-color: transparent;
        border: none;
        border-radius: 10px;
    }

    .card:hover {
        background-color: #f0f0f0;
        /* تنظیم رنگ طوسی کمرنگ برای حالت هاور */
    }

    .nav-icon {
        position: absolute;
        margin-top: 200px;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        border: 1px solid #ccc;
        cursor: pointer;
        display: none;
        /* Initially hidden */
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .left-icon {
        left: 300px;
    }

    .right-icon {
        right: 300px;
    }

    .card-container:hover .nav-icon {
        display: flex;
    }

    .logoAppSizeCard {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    .imgSizeCard {
        height: 250px;
    }

    .card-item {
        border: none;
        border-radius: 10px;
    }

    .card-item:hover {
        background-color: #f0f0f0;
    }

    .nav-button {

        position: absolute;
        margin-top: 120px;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        border: 1px solid #ccc;
        cursor: pointer;
        display: none;
        /* Initially hidden */
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .left-button {
        left: 300px;
    }

    .right-button {
        right: 300px;
    }

    .card-container:hover .nav-button {
        display: flex;
    }

    .cardVideoApp {
        width: 160px;
        height: 230px;
        padding: 5px;

    }

    .sizeButtonMore {
        width: 100px;

    }

    .imgBoxShadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .imgSizeLogoAppOne {
        width: 140px;
    }

    .fontSizeText {
        font-size: 15px;
    }

    .backGrandImage {
        background-color: rgb(62, 214, 149);
    }

    .user-initials {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 50%;
        text-align: center;

        font-size: 24px;
        font-weight: bold;
    }

    .backGrandImageTwo {
        background-color: rgb(52, 212, 224);
    }

    .sizeCardDetileImge {
        width: 220px;
        border-radius: 40px;
        box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.1);
        margin-left: 60%;
    }
    .fontSizeLOgoApp{
        font-size: 50px;
    }
    .fontSizeTextTwo {
        font-size: 12px;
        color: #444343c2;
    }
    .SizeButten{
        height: 40px;
        border: none;
    }

}